<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12">
        <div class="row start-logo justify-content-center">
            <div class="col-10 text-center">
                <img src="../../../assets/logo.png" class="logo-size" alt="">
            </div>
            <div class="col-10 mt-5">
                <h4 class="text-shadow">Welcome Back, Please login into your account</h4>
            </div>

            <div class="col-10 mt-3">
                <form >
                    <div class="mb-3">
                      <label for="" class="form-label">Username / Email</label>
                      <input type="email" name="" id="" class="form-control">
                    </div>
                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <div class="input-group">
                      
                        <input type="password" class="form-control" aria-describedby="basic-addon2">
                        
                        <div class="border-container">
                            <div class="border-half"></div>
                        </div>
                        <span class="input-group-text" id="basic-addon2">
                        
                            Forgot?</span>
                      </div>
                </div>

            
                   
                </form>
            </div>

            <div class="col-10 mt-4">
                <button class="btn btn-pink">Sign In</button>
            </div>

        </div>
        </div>
        <div class="col-md-6 bg-pink">
         
        </div>
    </div>
</div>